.carrossel{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-primary);   
}

.carrossel__titulo{
    color: var(--orange-color);
    background-color: var(--white-color);
    padding: 1rem 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5rem 0;
}

.card{
    background-color: var(--white-color);
    box-shadow: 0 4px 4px rgba(0,0,0, 0.25)  ;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.card__descricao{
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.card__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.button__ancor{
    background-color: var(--orange-color);
    padding: 1rem 1.5rem;
    color: var(--white-color);
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.descricao__titulo{
    color: var(--orange-color);
    font-size: 1rem;
    font-weight: 700;
}

.descricao__titulo-livro{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.descricao__texto{
    font-weight: 400;
    color: var(--blaco-color);
    font-size: 0.8rem;

}

@media screen and (min-width: 1024px) {
    .carrossel__titulo{
        font-size: 1.8rem;
    }

    .swiper{
        width: 65%;
    }

    .swiper-pagination{
        margin: 2rem 0 3rem 0;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top:60%
    }

    .card{
        width: 50%;
        margin: 2rem auto;
    }

    .descricao__texto{
        font-weight: 400;
        color: var(--blaco-color);
        font-size: 1rem;
    
    }
}